<div class="container-lg m-auto lato-regular d-none" id="table_monthly_revenue_container" style="max-width: 1280px;">
  <h2 class='mb-3 lato-bold'>Monthly Revenue</h2>
  <table id="monthly_revenue_table" class="table table-bordered lato-regular" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">Year
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">January
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">February
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">March
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">April
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">May
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">June
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">July
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">August
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">September
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">October
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">November
        </th>
        <th class="th-sm lato-bold px-0" style="vertical-align: middle; text-align: center;">December
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <!-- <tfoot>
        <tr>
          <th>Client Name
          </th>
          <th>Company Name
          </th>
          <th>Client Email
          </th>
          <th>Project Name
          </th>
          <th>Project Type
          </th>
          <th>Contacted On
          </th>
          <th>Actions
          </th>
        </tr>
      </tfoot> -->
  </table>
</div>