@font-face {
	font-family: 'CrimsonText-Bold';
	src: url('./fonts/Crimson_Text/CrimsonText-Bold.ttf');
}
@font-face {
	font-family: 'CrimsonText-BoldItalic';
	src: url('./fonts/Crimson_Text/CrimsonText-BoldItalic.ttf');
}
@font-face {
	font-family: 'CrimsonText-Italic';
	src: url('./fonts/Crimson_Text/CrimsonText-Italic.ttf');
}
@font-face {
	font-family: 'CrimsonText-Regular';
	src: url('./fonts/Crimson_Text/CrimsonText-Regular.ttf');
}
@font-face {
	font-family: 'CrimsonText-SemiBold';
	src: url('./fonts/Crimson_Text/CrimsonText-SemiBold.ttf');
}
@font-face {
	font-family: 'CrimsonText-SemiBoldItalic';
	src: url('./fonts/Crimson_Text/CrimsonText-SemiBoldItalic.ttf');
}

@font-face {
	font-family: 'Lato-Thin';
	src: url('./fonts/Lato/Lato-Thin.ttf');
}
@font-face {
	font-family: 'Lato-ThinItalic';
	src: url('./fonts/Lato/Lato-ThinItalic.ttf');
}
@font-face {
	font-family: 'Lato-Light';
	src: url('./fonts/Lato/Lato-Light.ttf');
}
@font-face {
	font-family: 'Lato-LightItalic';
	src: url('./fonts/Lato/Lato-LightItalic.ttf');
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('./fonts/Lato/Lato-Regular.ttf');
}
@font-face {
	font-family: 'Lato-Italic';
	src: url('./fonts/Lato/Lato-Italic.ttf');
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('./fonts/Lato/Lato-Bold.ttf');
}
@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('./fonts/Lato/Lato-BoldItalic.ttf');
}
@font-face {
	font-family: 'Lato-Black';
	src: url('./fonts/Lato/Lato-Black.ttf');
}
@font-face {
	font-family: 'Lato-BlackItalic';
	src: url('./fonts/Lato/Lato-BlackItalic.ttf');
}

.crimtext-bold {
	font-family: 'CrimsonText-Bold';
}
.crimtext-bold-ital {
	font-family: 'CrimsonText-BoldItalic';
}
.crimtext-ital {
	font-family: 'CrimsonText-Italic';
}
.crimtext-reg {
	font-family: 'CrimsonText-Regular';
}
.crimtext-sem-bold {
	font-family: 'CrimsonText-SemiBold';
}
.crimtext-sem-bold-ital {
	font-family: 'CrimsonText-SemiBoldItalic';
}

.lato-thin {
	font-family: 'Lato-Thin';
}
.lato-thin-italic {
	font-family: 'Lato-ThinItalic';
}
.lato-light {
	font-family: 'Lato-Light';
}
.lato-light-italic {
	font-family: 'Lato-LightItalic';
}
.lato-regular {
	font-family: 'Lato-Regular';
}
.lato-italic {
	font-family: 'Lato-Italic';
}
.lato-bold {
	font-family: 'Lato-Bold';
}
.lato-bold-italic {
	font-family: 'Lato-BoldItalic';
}
.lato-black {
	font-family: 'Lato-Black';
}
.lato-black-italic {
	font-family: 'Lato-BlackItalic';
}

.bg-superdark {
	background-color: #0f0f0f !important;
}
