<!DOCTYPE html>
<html lang="en">

	{% extends 'base.html' %}
	{% load static %}

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <link rel="canonical" href="https://www.innocelf.com/terms-and-conditions" />
    <meta name="description" content="The Terms of Use for Innocelf LLC's website.">
    <title>
        Terms of Use | Innocelf, LLC
    </title>
    {% endblock title %}

	</head>

	<body class="creative-lp">
		{% block content %}
		<div id="app"></div>

		<script type="module"
			src="{% static 'innoservices/js/actions_ts.js' %}"></script>

		{% endblock content %}
	</body>

</html>
