<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
	{% load static %}
<head>
    <meta charset="UTF-8">

    {% block title %}
    <meta name="description" content="{{ highlight_para }}">
    <title>
        The Innocelf Blog | Knowledge | {{ title }}
    </title>
    {% endblock title %}
</head>
<body>
    {% block content %}
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js">
    </script>
    <script>
        var pk = '{{ pk }}'
        var title = '{{ title }}';
        var author = '{{ author }}';
        var category = '{{ category }}';
        var highlight_para = '{{ highlight_para }}';
        var content_in_md = `{{ content_in_md }}`;
        var publication_date = `{{ publication_date }}`;
    </script>
    <script type="module"
        src="{% static 'innoservices/js/renderBlog.js' %}"></script>
    {% endblock content %}
</body>
</html>
