{% load static %}

<footer class="flex flex-col bg-innoblack lato-regular text-white pt-5 relative mt-96 lg:h-96">
    <div
        class="flex flex-col mx-auto my-5 md:w-full lg:w-11/12 max-w-7xl justify-end items-end relative w-full lg:w-2/3">

        <div id="contact-us-form-div"></div>
        <div
            class="flex flex-col w-full justify-end items-center pb-5 md:gap-2 border-0 border-b border-white mt-5 lg:flex-row lg:w-1/2">
            <div class="px-4 w-3/4 text-center lg:w-2/5 lg:text-left lg:py-4 mb-5 sm:w-1/2">
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px"
                    y="0px" viewBox="0 0 770 222" style="enable-background:new 0 0 770 222;" xml:space="preserve"
                    sodipodi:docname="Innocelf-Logo-WhiteFont-TransparentBack.svg"
                    inkscape:version="1.0.2 (e86c870879, 2021-01-15)">
                    <metadata id="metadata33">
                        <rdf:RDF>
                            <cc:Work rdf:about="">
                                <dc:format>image/svg+xml</dc:format>
                                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
                            </cc:Work>
                        </rdf:RDF>
                    </metadata>
                    <defs id="defs31"></defs>
                    <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
                        gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2"
                        inkscape:window-width="2560" inkscape:window-height="1015" id="namedview29" showgrid="false"
                        inkscape:zoom="1.7025974" inkscape:cx="385" inkscape:cy="111" inkscape:window-x="0"
                        inkscape:window-y="0" inkscape:window-maximized="1" inkscape:current-layer="Layer_1">
                    </sodipodi:namedview>
                    <style type="text/css" id="style2">
                        .st0 {
                            fill: #FFFFFF;
                        }

                        .st1 {
                            font-family: 'Poppins-Medium';
                        }

                        .st2 {
                            font-size: 14.3743px;
                        }
                    </style>
                    <g id="g26" style="fill:#ffffff;fill-opacity:1">
                        <g id="g22" style="fill:#ffffff;fill-opacity:1">
                            <path
                                d="m 134.3,94.4 c 0,0 -14.9,-0.4 -30.7,14.2 0,0 -1.6,-2.5 -2.7,-8.8 -0.2,-1.5 -1.6,-2.6 -3.1,-2.5 -4.8,0.2 -13.3,2.3 -17.7,3.4 -1.6,0.4 -2.5,2 -2.2,3.6 1.2,5 3.5,15.5 3.4,22.3 v 50.1 c 0,2.2 1.8,4 4,4 h 14.2 c 2.2,0 4,-1.8 4,-4 l -0.4,-46.5 c 0,-2.7 0.8,-5.3 2.5,-7.4 3.3,-4.2 9.9,-10.3 20.6,-10.3 16.2,0 16,14.2 16,14.2 l -0.2,50.1 c 0,2.2 1.8,4 4,4 h 14 c 2.2,0 4,-1.8 4,-4 v -50.1 c 0,-0.2 6,-32.3 -29.7,-32.3 z"
                                id="path4" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 244.1,94.4 c 0,0 -14.9,-0.4 -30.7,14.2 0,0 -1.6,-2.5 -2.7,-8.8 -0.2,-1.5 -1.6,-2.6 -3.1,-2.5 -4.8,0.2 -13.3,2.3 -17.7,3.4 -1.6,0.4 -2.5,2 -2.2,3.6 1.2,5 3.5,15.5 3.4,22.3 v 50.1 c 0,2.2 1.8,4 4,4 h 14.2 c 2.2,0 4,-1.8 4,-4 l -0.4,-46.5 c 0,-2.7 0.8,-5.3 2.5,-7.4 3.3,-4.2 9.9,-10.3 20.6,-10.3 16.2,0 16,14.2 16,14.2 l -0.2,50.1 c 0,2.2 1.8,4 4,4 H 270 c 2.2,0 4,-1.8 4,-4 v -50.1 c -0.2,-0.2 5.8,-32.3 -29.9,-32.3 z"
                                id="path6" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 47.7,57.1 c 0,0 -6.7,0.4 -8.9,0.4 -2.2,0 -9,-0.4 -9,-0.4 -2.5,0 -4.4,2 -4.4,4.5 0.4,12 1.5,44.8 1.5,57.3 0,12.5 -1.1,45.3 -1.5,57.3 -0.1,2.5 1.9,4.5 4.4,4.5 0,0 6.3,-0.3 8.4,-0.3 2.4,0 9.5,0.3 9.5,0.3 2.4,0 4.4,-2 4.4,-4.4 -0.2,-11.9 -1.6,-44.8 -1.6,-57.3 0,-12.5 1.4,-45.4 1.6,-57.3 -0.1,-2.6 -2,-4.6 -4.4,-4.6 z"
                                id="path8" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 652.5,57.1 c 0,0 -6.7,0.4 -8.9,0.4 -2.2,0 -9,-0.4 -9,-0.4 -2.5,0 -4.4,2 -4.4,4.5 0.4,12 1.5,44.8 1.5,57.3 0,12.5 -1.1,45.3 -1.5,57.3 -0.1,2.5 1.9,4.5 4.4,4.5 0,0 6.3,-0.3 8.4,-0.3 2.4,0 9.5,0.3 9.5,0.3 2.4,0 4.4,-2 4.4,-4.4 -0.2,-11.9 -1.6,-44.8 -1.6,-57.3 0,-12.5 1.4,-45.4 1.6,-57.3 -0.1,-2.6 -2,-4.6 -4.4,-4.6 z"
                                id="path10" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 519.1,114.3 c -1.1,-5.2 -5.7,-9 -11.2,-9 -6.3,0 -11.5,5.1 -11.5,11.5 v 0.3 c 0,0.6 0.1,1.2 0.2,1.8 0.1,1.1 0.1,2.2 0.1,3.3 0,21.2 -16.2,38.5 -36.2,38.5 -20,0 -36.2,-17.2 -36.2,-38.5 0,-21.1 16,-38.3 35.9,-38.5 6.6,0 11.9,-5.3 11.9,-11.9 0,-6.5 -5.3,-11.8 -11.8,-11.9 h -0.2 c -32.9,0 -59.5,28.2 -59.5,62.9 0,34.7 26.7,62.9 59.5,62.9 32.8,0 59.5,-28.2 59.5,-62.9 0,-2.1 -0.1,-4.1 -0.3,-6.1 0,-0.8 -0.1,-1.6 -0.2,-2.4 z"
                                id="path12" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 506.3,94.2 c 2.2,0 4.3,-0.6 6,-1.6 3.5,-2.1 5.9,-5.9 5.9,-10.2 0,-6.6 -5.3,-11.9 -11.9,-11.9 -3.4,0 -6.4,1.4 -8.5,3.6 -2.1,2.1 -3.3,5 -3.3,8.3 -0.1,6.5 5.2,11.8 11.8,11.8 z"
                                id="path14" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 341.1,93 c -25.4,0 -46,20.2 -46,45 0,24.8 20.6,45 46,45 25.4,0 46,-20.2 46,-45 0,-24.8 -20.6,-45 -46,-45 z m 0,71.1 c -14.4,0 -26.1,-11.7 -26.1,-26 0,-14.4 11.7,-26 26.1,-26 14.4,0 26.1,11.6 26.1,26 0,14.3 -11.7,26 -26.1,26 z"
                                id="path16" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 725.4,67.7 c 1.2,0.1 2.3,-0.9 2.2,-2.1 -0.3,-4.6 -1.9,-10 -2.8,-12.9 -0.4,-1.3 -1.7,-2.1 -3,-2.1 -7.7,0.5 -32.5,3.6 -35.5,25.4 -0.4,5.5 -0.7,18.3 -0.7,20.6 h -7.4 c -1.7,0 -3.1,1.4 -3.1,3.1 V 111 c 0,1.7 1.4,3.1 3.1,3.1 h 7.5 c 0.6,0 1,0.4 1,1 v 61 c 0,1.7 1.3,3 3,3 h 14.5 c 1.7,0 3,-1.4 3,-3 l -0.6,-60.9 c 0,-0.6 0.4,-1 1,-1 h 15.2 c 2.1,0 3.8,-1.7 3.8,-3.8 v -9.8 c 0,-2.1 -1.7,-3.8 -3.8,-3.8 H 707 c -0.6,0 -1,-0.4 -1,-1 V 81.4 c -0.2,0 1.2,-15.2 19.4,-13.7 z"
                                id="path18" style="fill:#ffffff;fill-opacity:1"></path>
                            <path
                                d="m 553.3,146.1 36.3,-3.2 14.1,-1.2 c 0,0 8.4,1.1 8.4,-11.5 0,-5.9 -1.3,-10.9 -2.9,-14.8 -0.9,-2.1 -1.7,-4.4 -3,-6.2 -7.6,-10.8 -19.5,-17.8 -33,-17.8 -22.9,0 -41.5,20.2 -41.5,45.2 0,25 18.6,45.1 41.5,45.1 0.4,0 0.8,0 1.2,0 20.5,0.9 31.5,-9 35.5,-13.7 1.1,-1.3 1.3,-3.1 0.4,-4.6 l -1.8,-3.1 -3.5,-6 c -0.3,-0.6 -1.1,-0.7 -1.6,-0.2 -2.6,2.5 -10.7,9.3 -24.3,10 -0.8,0 -1.5,0.1 -2.3,0.1 -18.2,0 -23.5,-14.9 -24.1,-16.3 -0.5,-1.6 0.6,-1.8 0.6,-1.8 z m 2.5,-28 c 3.3,-5.8 12,-9.7 16,-9.8 15.5,-0.4 19.6,16.3 19,18.2 -0.5,1.9 -12.9,3.1 -18,3.7 -5.1,0.6 -18.9,1 -19.7,-0.2 -0.9,-1.2 -0.6,-6.1 2.7,-11.9 z"
                                id="path20" style="fill:#ffffff;fill-opacity:1"></path>
                        </g>
                        <text transform="translate(731.5804,48.5155)" class="st1 st2" id="text24"
                            style="fill:#ffffff;fill-opacity:1">SM</text>
                    </g>
                </svg>
            </div>
            <div class="px-4 w-3/4 text-center lg:w-1/5 lg:text-left lg:py-4">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about-us">About</a></li>
                </ul>
            </div>
            <div class="px-4 w-3/4 text-center lg:w-1/5 lg:text-left lg:py-4">
                <ul>
                    <li><a href="/testimonials-page">Testimonials</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/knowledge-home">Knowledge</a></li>
                </ul>
            </div>
            <div class="px-4 w-3/4 text-center w-1/4 lg:text-left lg:py-4">
                <ul>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-and-conditions">Terms of Use</a></li>
                    <li><a href="/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
        </div>
        <div
            class="flex flex-col justify-end items-center py-5 md:gap-2 lg:gap-16 border-0 border-b border-white w-full lg:w-1/2">
            <p class="text-xs font-medium lato-regular sm:text-xs lg:text-xs 2xl:text-sm text-white">© 2020-2022
                Copyright: Innocelf, LLC. All Rights Reserved</p>
        </div>
    </div>
    <div class="flex flex-col max-w-7xl mt-8 px-3 mx-auto lg:w-10/12 xl:w-3/4 2xl:absolute 2xl:left-1/4 2xl:bottom-0">
        <p class="text-xs lg:text-sm lato-light text-white">* Testimonials found on this website are actual client
            reviews of
            Innocelf, LLC. Prospective clients may not obtain the same or
            similar results.</p>
        <p class="text-xs lg:text-sm lato-light text-white">** The information contained in this website is intended for
            general informational purposes only, and should not be construed as
            legal advice on any matter.</p>
        <p class="text-white text-sm lato-light"><span>*** For important disclaimer information please visit </span><a
                class="underline" href="/disclaimer">this page.</a></p>
    </div>
</footer>

<script type="module" src="{% static 'innoservices/js/footer.js' %}"></script>