<!DOCTYPE html>
<html lang="en">

  {% extends 'base.html' %}
  {% load static %}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <link rel="canonical" href="https://www.innocelf.com/" />
    <meta name="description" content="Innocelf, LLC is a patent search firm in Michigan, USA, that
			offers the highest quality patent searches and analytics services
			to protect your invention at a resonable price. Schedule a free
			consultation with us today to get started on your patent journey.">
    <title>
        Innocelf | Patent Search Firm in USA | USPTO Patent Research    
    </title>
    {% endblock title %}

  </head>

  <body class="creative-lp">
    {% block content %}
    <div id="app"></div>
    <script type="module"
      src="{% static 'innoservices/js/actions_ts.js' %}"></script>

    {% endblock content %}
  </body>

</html>
