<!DOCTYPE html>
<html lang="en">

	{% extends 'base.html' %}
	{% load static %}

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <link rel="canonical" href="https://www.innocelf.com/services" />
    <meta name="description" content="At Innocelf, LLC we provide patentability / novelty research,
			freedom to operate search, validity search, product research and
			landscape / state of the art search. We excel in the following
			technologies: healthcare and medical devices, pharmaceutical,
			chemical and material science, biotechnology and life sciences,
			food technology and consumer products.">
    <title>
        Services | Patent Research Consultant
    </title>
    {% endblock title %}

	</head>

	<body class="creative-lp">
		{% block content %}
		<div id="app"></div>

		<script type="module"
			src="{% static 'innoservices/js/actions_ts.js' %}"></script>

		{% endblock content %}
	</body>

</html>
