<!DOCTYPE html>
<html lang="en">

	{% extends 'base.html' %}
	{% load static %}

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <link rel="canonical" href="https://www.innocelf.com/testimonials-page" />
    <meta name="description" content="Innocelf strives to provide the best 
                            Patent Research to our clients. This includes using 
                            our wide experience and the best possible tools in 
                            the marketplace. The testimonials are a product of 
                            Innocelf's work, working directly with the client or 
                            through Upwork">
    <title>
        Testimonials | Client Reviews regarding our Patent Services
    </title>
    {% endblock title %}


	</head>

	<body class="creative-lp">
		{% block content %}
		<div id="app"></div>

		<script type="module"
			src="{% static 'innoservices/js/actions_ts.js' %}"></script>

		{% endblock content %}
	</body>

</html>
