<div class="container-lg m-auto lato-regular d-none" id="table_potential_client_container" style="max-width: 1280px;">
  <h2 class='mb-3 lato-bold'>Potential Clients</h2>
  <table id="potential_client_table" class="table table-bordered lato-regular" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm" style="vertical-align: middle; text-align: center;">Client Name
        </th>
        <th class="th-sm" style="vertical-align: middle; text-align: center;">Company Name
        </th>
        <th class="th-sm" style="vertical-align: middle; text-align: center;">Client Email
        </th>
        <th class="th-sm" style="vertical-align: middle; text-align: center;">Project Name
        </th>
        <th class="th-sm" style="vertical-align: middle; text-align: center;">Project Type
        </th>
        <th class="th-sm" style="vertical-align: middle; text-align: center;">Contacted On
        </th>
        <th class="th-sm" style="vertical-align: middle; text-align: center;">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <!-- <tfoot>
      <tr>
        <th>Client Name
        </th>
        <th>Company Name
        </th>
        <th>Client Email
        </th>
        <th>Project Name
        </th>
        <th>Project Type
        </th>
        <th>Contacted On
        </th>
        <th>Actions
        </th>
      </tr>
    </tfoot> -->
  </table>
</div>