<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% load crispy_forms_filters %}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block head_title %}
      Client Admin | Innocelf Client Administration
      {% endblock head_title %}
    </title>
  </head>

  <body>
    {% block content %}
    <link href=" {% static 'css/addons/datatables2.min.css' %} " rel="stylesheet">

    <style>
      .popover-header {
        background-color: #212121 !important;
      }
    </style>

    {% include './_sidebar.html' %}

    <div class="container-lg m-auto d-none" id="add_new_client_container">
      <div class="row w-100 justify-content-center mb-3">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-light btn-sm form-check-label active mx-2">
            <input class="form-check-input" type="radio" name="client_type" id="choose_potential_client"
              autocomplete="off">
            Is Potential Client?
          </label>
          <label class="btn btn-light btn-sm form-check-label mx-2">
            <input class="form-check-input" type="radio" name="client_type" id="choose_current_client"
              autocomplete="off">
            Is Current Client?
          </label>
        </div>
      </div>

      {% include './_forms/_form_current_client.html' %}
      {% include './_forms/_form_potential_client.html' %}
    </div>
    {% include './_forms/_form_long_term_client.html' %}

    {% include './_tables/_table_potential_client.html' %}
    {% include './_tables/_table_current_client.html' %}
    {% include './_tables/_table_abandoned_client.html' %}
    {% include './_tables/_table_monthly_revenue.html' %}

    <!-- Modal -->
    <div class="modal fade" id="add_payment_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document" id="add_payment_modal_document">
        <div class="modal-content" id="add_payment_modal_content">
          <div class="modal-header" id="add_payment_modal_header">
            <h5 class="modal-title lato-bold" id="add_payment_modal_title">Add Payment</h5>
            {% csrf_token %}
            <input type="hidden" name="add_payment_project_slug" id="add_payment_project_slug">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="add_payment_modal_body">
          </div>
          <div class="modal-footer" id="add_payment_modal_footer">
            <button type="button" class="btn btn-dark btn-sm" id="add_payment_modal_footer_submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    {{ long_term_clients_serialize|json_script:"long_term_clients_serialize" }}
    {{ potential_project_clients_serialize|json_script:"potential_project_clients_serialize" }}
    {{ current_project_clients_serialize|json_script:"current_project_clients_serialize" }}
    {{ payments_serialize|json_script:"payments_serialize" }}
    {{ monthly_revenue_dict|json_script:"monthly_revenue_dict" }}
    <script type="text/javascript" src="{% static 'js/addons/datatables2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ClientAdmin/js/client_admin_page.js' %}"></script>
    <script>

    </script>

    {% endblock content %}
  </body>

</html>