<form action="" method="POST" id="current_client_details_form">
  {% csrf_token %}
  <div class="container w-100 m-0 p-0 d-none" id="current_client_details">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 lato-bold">
        Enlist Project
      </legend>

      <div class="form-row align-items-center justify-content-center mb-4">
        <div class="form-check col-md-3">
          <input type="checkbox" class="form-check-input" id="add_project_isLongTermClient" name="client_long_term">
          <label class="form-check-label" for="add_project_isLongTermClient" style="color: #7e7e7e">Long Term
            Client?</label>
        </div>

        <div class="form-check col-md-3 lato-regular d-none">
          <select class="custom-select custom-select-sm lato-regular" id="add_project_longTermClientList">
          </select>
        </div>
      </div>


      <div class="form-row align-items-center justify-content-center">
        <div class="form-group col-md-3 mr-3">
          <label class="requiredField" for="add_project_clientName">
            {{ project_form.client_name.label }}
            <span class="asteriskField">*</span>
          </label>
          {{ project_form.client_name }}
        </div>

        <div class="form-group col-md-3 mr-3"> 
          <label for="add_project_clientCompany"> 
            {{ project_form.client_company.label }}
          </label> 
          {{ project_form.client_company }} 
        </div> 

        <div class="form-group col-md-3 mr-3">
          <label class="requiredField" for="add_project_clientEmail">
            {{ project_form.client_email.label }}
            <span class="asteriskField">*</span>
          </label>
          {{ project_form.client_email }}
        </div>

      </div>

      <div class="form-row align-items-center justify-content-center">
        <div class="form-group col-md-3 mr-3">
          <label class="requiredField" for="add_project_projectName">
            {{ project_form.project_name.label }}
            <span class="asteriskField">*</span>
          </label>
          {{ project_form.project_name }}
        </div>

        <div class="form-group col-md-3 mr-3">
          <label class="requiredField lato-light" for="add_project_projectType">
            {{ project_form.project_type.label }}
            <span class="asteriskField">*</span>
          </label>
          {{ project_form.project_type }}
        </div>

        <div class="form-group col-md-3 mr-3 datepicker">
          <label class="requiredField lato-light" for="add_project_projectDeadline">
            {{ project_form.project_deadline.label }}
            <span class="asteriskField">*</span>
          </label>
          <i class="fas fa-calendar input-prefix"
            style="position: absolute; left:initial; right: 16px; cursor: pointer"></i>
          {{ project_form.project_deadline }}
        </div>
        <input type="hidden" id="add_project_projectDeadline_TimeStamp" name="project_deadline_timestamp">
      </div>

      <div class="form-row align-items-center justify-content-center">
        <div class="form-group col-md-3 mr-3">
          <label class="requiredField" for="add_project_projectEstimatedDays">
            {{ project_form.project_estimated_days.label }}
            <span class="asteriskField">*</span>
          </label>
          {{ project_form.project_estimated_days }}
        </div>

        <div class="form-group col-md-3 mr-3 input-with-post-icon datepicker">
          <label class="requiredField lato-light" for="add_project_startDate">
            {{ project_form.start_date.label }}
            <span class="asteriskField">*</span>
          </label>
          <i class="fas fa-calendar input-prefix"
            style="position: absolute; left:initial; right: 16px; cursor: pointer"></i>
          {{ project_form.start_date }}
        </div>
        <input type="hidden" id="add_project_startDate_TimeStamp" name="start_date_timestamp">

        <div class="form-group col-md-3 mr-3 input-with-post-icon datepicker">
          <label class="requiredField lato-light" for="add_project_endDate">
            {{ project_form.end_date.label }}
            <span class="asteriskField">*</span>
          </label>
          <i class="fas fa-calendar input-prefix"
            style="position: absolute; left:initial; right: 16px; cursor: pointer"></i>
          {{ project_form.end_date }}
        </div>
        <input type="hidden" id="add_project_endDate_TimeStamp" name="end_date_timestamp">
      </div>

      <div class="form-row align-items-center justify-content-center">
        <div class="form-group col-md-3 mr-3">
          <label class="requiredField" for="add_project_expectedRevenue">
            {{ project_form.expected_revenue.label }}
            <span class="asteriskField">*</span>
          </label>
          {{ project_form.expected_revenue }}
        </div>

        <div class="form-check col-md-3">
          <button class="btn btn-link" id="add_project_addPayment" type="button">
            <i class="fas fa-plus fa-lg text-success mr-2"></i>
            Add Payment
          </button>
        </div>
      </div>

    </fieldset>
    <div class="form-row justify-content-center">
      <button class="btn btn-dark lato-regular" type="submit" id="add_project_form_save">
        Save
      </button>
    </div>
  </div>
</form>