<div class="container-fluid align-items-center justify-content-center mb-4 pb-4">
  <div class="container row m-auto pt-5 px-0">
    <div class="col-2 w-100 align-self-center text-center justify-content-center pb-3">
      <h3 class="lato-bold">
        Our Mission
      </h3>
    </div>
    <div class="col-10 border-left border-right px-5">
      <div class="row border-bottom pb-4">
        <h4 class="lato-italic brown-text">
          Empower:
        </h4>
        <h5 class="lato-light-italic text-justify" style="line-height: 2.0rem;">
          To empower all inventors out there with relevant patent and market information to enable them to
          pursue
          patenting their
          inventions.
        </h5>
      </div>
      <div class="row pt-4">
        <h4 class="lato-italic brown-text">
          Belief in the New:
        </h4>
        <h5 class="lato-light-italic text-justify" style="line-height: 2.0rem;">
          To believe in new ideas and supporting invention rights of small businesses, solo inventors and
          private sellers.
        </h5>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <div class="container row m-auto pb-5 px-0">
    <div class="col-2 w-100 align-self-center text-center justify-content-center pb-3">
      <h3 class="lato-bold">
        Our Values
      </h3>
    </div>
    <div class="col-10 border-left border-right px-5">
      <div class="row border-bottom pb-4">
        <h4 class="lato-italic brown-text">
          Idea Protection:
        </h4>
        <h5 class="lato-light-italic text-justify" style="line-height: 2.0rem;">
          Every idea deserves a protection and we believe every inventor should understand the invention
          protection
          process.
        </h5>
      </div>
      <div class="row border-bottom pt-4 pb-4">
        <h4 class="lato-italic brown-text">
          Client Care:
        </h4>
        <h5 class="lato-light-italic text-justify" style="line-height: 2.0rem;">
          Our clients are the most important to us. We strive to provide exactly what our clients need.
          Majority of
          our brainstorming process is gleaning over client feedback.
        </h5>
      </div>
      <div class="row pt-4">
        <h4 class="lato-italic brown-text"> 
          Optimum Quality:
        </h4>
        <h5 class="lato-light-italic text-justify" style="line-height: 2.0rem;">
          We are committed to delivering the very best; from client support to patent search results to
          patentability opinions. Great quality is the base where Innocelf's pyramid stands on.
        </h5>
      </div>
    </div>
  </div>
</div>