{% load static %}

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-superdark lato-regular">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="{% url 'innoservices:home' %}">
    <img src="{% static 'img/innoimg/InnocelfLogo_NoBackground_SM_SVG.png' %}"
      alt="innocelf-patent-research-full-logo" width="150px">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav m-auto nav-fill w-50">
      <!-- Dropdown Services -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
            href="{% url 'innoservices:technologies' %}#patentability_and_novelty_search">
            Patentability /
            Novelty Search
          </a>
          <a class="dropdown-item"
            href="{% url 'innoservices:technologies' %}#validity_invalidity_search">
            Invalidity Search
          </a>
          <a class="dropdown-item"
            href="{% url 'innoservices:technologies' %}#freedom_to_operate_search">
            Freedom to Operate
            Search
          </a>
          <a class="dropdown-item"
            href="{% url 'innoservices:technologies' %}#product_research">
            Product
            Research
          </a>
          <a class="dropdown-item"
            href="{% url 'innoservices:technologies' %}#landscape_state_of_the_art">
            Landscape /
            State of the Art
          </a>
        </div>
      </li>
      <!-- Dropdown Diligence-->
      <li class="nav-item">
        <a class="nav-link"
          href="{% url 'innoservices:technologies' %}#tech_page_technology_section">
          Technology
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'innoservices:contact-us' %}">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          href="{% url 'innoservices:about-us-and-testimonials' %}#testimonials_in_about_us">
          Testimonials
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          href="{% url 'innoservices:about-us-and-testimonials' %}">
          About
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          href="{% url 'innoservices:frequently-asked-questions' %}">
          FAQs
        </a>
      </li>

    </ul>
    <!-- Links -->


  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->