<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %}
  {% load static %}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta_data %}
    <meta name="description"
      content="Know more about Innocelf, LLC and know our mission. Our values are targeted towards getting the best for our clients. Together we are determined to protect the inventions of our clients and giving them the right analyses to succeed in their patent process." />
    {% endblock meta_data %}

    <title>
      {% block head_title %}
      Innocelf | Testimonials
      {% endblock head_title %}
    </title>
  </head>

  {% block content %}

  <body>
    {% include '_navbar.html' %}

    <div class="container-fluid cloudy-knoxville-gradient d-flex align-items-center justify-content-center"
      style="height: 8rem;">
      <h1 class="lato-bold">
        ABOUT US
      </h1>
    </div>

    <div class="container-lg my-5 px-5 pt-5 pb-3 border-left border-right">
      <div class="row">
        <div class="col text-center">
          <img src="{% static 'img/innoimg/innocelf-pranita-photo.jpg' %}" alt="Pranita Photo" height="400px">
          <div class="row mt-5 ml-2">
            <div class="row mt-1">
              <h5 class="lato-bold-italic">
                EDUCATION:
              </h5>
            </div>
          </div>
          <div class="row lato-regular mt-1 ml-2 p-0">
            <p style="font-size: large;">
              Masters in Patent Practice,
              <b class="lato-light-italic mt-1" style="font-size: small;">
                Case Western Reserve University, Ohio
              </b>
            </p>
          </div>
          <div class="row lato-regular mt-1 ml-2 p-0">
            <p style="font-size: large;">
              Masters in Pharmacology,
              <b class="lato-light-italic mt-1" style="font-size: small;">
                University of Pune, India
              </b>
            </p>
          </div>
          <div class="row lato-regular mt-1 ml-2 p-0">
            <p style="font-size: large;">
              Bachelors in Pharmaceutical Sciences,
              <b class="lato-light-italic mt-1" style="font-size: small;">
                Mumbai University, India
              </b>
            </p>
          </div>

          <div class="row mt-3 ml-2">
            <div class="row mt-1">
              <h5 class="lato-bold-italic">
                AFFILIATIONS:
              </h5>
            </div>
          </div>
          <div class="row lato-regular mt-1 ml-2 p-0">
            <p style="font-size: large;">
              American Intellectual Property Law Association (AIPLA)
            </p>
          </div>
          <div class="row lato-regular mt-1 ml-2 p-0">
            <p style="font-size: large;">
              Michigan Intellectual Property Law Association (MIPLA)
            </p>
          </div>
        </div>
        <div class="col">
          <h3 class="lato-regular brown-text">
            Hi, I am Pranita Dharmadhikari
          </h3>
          <p class="text-justify lato-regular">
            I started Innocelf, LLC with a mission to help inventors with intellectual property rights (IPR or IP)
            protection and propel them forward on their patent journey. Patent law can be convoluted with pioneer
            technologies or around an improvement on an existing technology. My mission for Innocelf, is therefore, to
            provide extensive and concentrated search results that will not only be useful in the grander patent process
            but will also help you understand the nuances of the patent process.

            <br>
            <br>

            I am committed to providing high quality patent research and opinions that will make it clear whether your
            idea is patentable or not. I will untangle some of those intricacies through the detailed and efficient
            reports you will receive. All inventions are unique and Innocelf with me will cater to those inventions at a
            personal level, yet encompass analysis from existing patents, licenses and products out there. I will make
            sure your idea does not infringe on others'. At Innocelf we use international patent and non-patent
            literature databases as well as some exclusive databases that help us in finding products that are not
            patented but are in production.


          </p>
          <p class="text-justify lato-regular">
            Before Innocelf, I have worked in a combination of pharmaceutical companies, law firms, research analytics
            firms and law clinics for ~7 years in different capacities related to patent research, drafting and
            prosecution. However, Innocelf targets only one aspect of these three avenues: patent research. Here, I have
            met amazing mentors who have and continue to better me in this profession.

            <br>
            <br>

            What led me into this profession was an invention I had developed in my sophomore year. I believed it had
            great value but did not know how to protect it back then. It would have been a help to the community if I
            had pursued patenting it and brought it into the public domain. Alas, the knowledge of such protections was
            not mentioned in my school. With Innocelf I want to provide this guidance to all inventors so they can
            achieve cost efficiency, transparency and make their inventions useful to the public while earning monetary
            or other benefits.
          </p>
        </div>
      </div>
    </div>

    <section class="cloudy-knoxville-gradient">
      {% include '_mission_values.html' %}
    </section>


    <div class="container my-5 px-5 pt-5 pb-3" id="testimonials_in_about_us" style="height: 700px">

      <h3 class="text-center lato-bold mb-5">
        What Do Our Clients Say?
      </h3>

      <!--Section: Content-->
      <section class="text-center dark-grey-text">

        <!-- Grid row -->
        <div class="row mt-5 p-5" style="height: inherit;">

          <!-- Grid column -->
          <div class="col-md-12 mb-4">

            <div class="wrapper-carousel-fix">

              <!-- Carousel Wrapper -->
              <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide" data-ride="carousel"
                data-interval="false">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                  <div class="carousel-item active">
                    <testimonial-card testimonial-name="Adam M."
                      testimonial-content="I have had the pleasure of working with Pranita over the last 6 months while I put together and finalized a very important patent application. Pranita was flexible, attentive and went over and above to make sure that I was able to meet a very tight schedule, despite having to deal with competing timelines from my formulation team. Pranita’s guidance and experience with pharmaceutical patents was paramount in ensuring that the final product was ready for application. I would absolutely recommend Pranita for anybody needing help with the patenting process, specifically as it relates to the pharmaceutical industry. I will be keeping her contact close for future guidance!">
                    </testimonial-card>
                  </div>
                  <!--First slide-->
                  <!--Second slide-->
                  <div class="carousel-item">
                    <testimonial-card testimonial-name="Jason M."
                      testimonial-content="Pranita was a great help and excellent worker. She was very positive and completed our tasks in a timely manner. I would recommend Pranita for anyone needing a patent or other legal help in the future.">
                    </testimonial-card>
                  </div>
                  <!--Second slide-->
                  <!--Third slide-->
                  <div class="carousel-item">
                    <testimonial-card testimonial-name="D. Kumar"
                      testimonial-content="Amazing Work, Very Detailed , Clear, Coherent And Thorough Information. Cannot Ask For More. Thank You">
                    </testimonial-card>
                  </div>
                  <!--Third slide-->
                  <!--Fourth slide-->
                  <div class="carousel-item">
                    <testimonial-card testimonial-name="Lennie F."
                      testimonial-content="Pranita Dharmadhikari has been great to work with and we will continue to use her in the future. We have used her on multiple projects for patent research and all were completed in a timely manner and the final results were very well prepared. Highly recommended.">
                    </testimonial-card>
                  </div>
                  <!--Fourth slide-->
                  <!--Fifth slide-->
                  <div class="carousel-item">
                    <testimonial-card testimonial-name="David H."
                      testimonial-content="I was quite pleased with the scope of work performed, regarding the patent search report. I appreciate the professionalism! Couldn't have done it without Pranita.">
                    </testimonial-card>
                  </div>
                  <!--Fifth slide-->
                  <!--Sixth slide-->
                  <div class="carousel-item">
                    <testimonial-card testimonial-name="Robin B."
                      testimonial-content="Pranita is a good person to work with. I appreciate and respect her work.">
                    </testimonial-card>
                  </div>
                  <!--Sixth slide-->
                </div>
                <!--Slides-->
                <!--Controls-->
                <a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button"
                  data-slide="prev">
                  <span class="icon-prev" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button"
                  data-slide="next">
                  <span class="icon-next" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--Controls-->
              </div>
              <!-- Carousel Wrapper -->

            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>

    {% include '_footer.html' %}

    <script type="text/javascript" src="{% static 'js/innojs/html_components.js' %}"></script>
  </body>
  {% endblock content %}

</html>