<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta_data %} {% endblock meta_data %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mdb.lite.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mdb.lite.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/innocss/custom_innocss.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>


    <title>
      {% block head_title %} {% endblock head_title %}
    </title>
  </head>

  <body>
    {% include '_navbar.html' %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} my-3 lato-regular">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}


    {% block content %} {% endblock content %}
  </body>

  <!-- Footer -->
  <footer class="page-footer font-small bg-superdark pt-4 lato-regular">

    <!-- Footer Elements -->
    <div class="container">

      <!--Grid row-->
      <div class="row justify-content-center text-center">

        <!--Grid column-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="font-size: large;">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i>South-East Michigan, USA</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +1 (248) 606-2236 </p>
        </div>

        <!--Grid column-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
              </a>
            </li>
          </ul>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#">INNOCELF, LLC. All Rights Reserved</a>
      <div class="row justify-content-center">
        <div class="col-md-1 col-lg-1 col-xl-1 mt-3">
          <a href="#">Privacy Policy</a>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 mt-3">
          <a href="#">Terms of Use</a>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 mt-3">
          <a href="#">Disclaimer</a>
        </div>

      </div>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</html>