<!DOCTYPE html>
<html lang="en">

  {% extends 'base.html' %}
  {% load static %}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block head_title %}Innocelf{% endblock head_title %}
    </title>
  </head>

  <body class="creative-lp">
    {% block content %}

    <style>
      #customer_testimonials {
        background: url('/static/img/innoimg/Testimony_Walled_Background.jpg');
        background-size: contain
      }

      .border-rounded {
        border-radius: 30px;
      }

      #homepage_first_section {
        background: url('/static/img/innoimg/innocelf-homepage-header-picture5.jpg');
        background-size: cover
      }

      /* #streak_of_testimonials {
                background: url('/static/img/innoimg/TestingImages/innocelf-homepage-streak-picture.jpg');
            } */

      nav {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
      }

      html,
      body,
      header,
      .intro-2 {
        height: 100%;
      }

      @media (max-width: 740px) {

        html,
        body,
        header,
        .intro-2 {
          height: 900px;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .intro-2 {
          height: 900px;
        }
      }

      .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
      }

      .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    </style>

    <header>
      {% include '_navbar.html' %}

      <section class="view intro-2" id="homepage_first_section">
        <div class="mask rgba-black-strong">
          <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row flex-center pt-5 mt-3">
              <div class="col-md-12 col-lg-12 text-center text-md-left margins">
                <div class="dark-grey-text">
                  <h1 class="display-4 title mt-md-5 mt-lg-0 font-weight-bold wow fadeIn" data-wow-delay="0.3s">
                    <img src="{% static 'img/innoimg/InnocelfLogo_NoBackground_SVG.png' %}"
                      alt="innocelf-patent-research-full-logo" class="wow fadeIn img-responsive">
                    <!-- <strong
                      class="lato-bold display-4 font-weight-bold text-uppercase white-text mb-4 wow fadeIn">INNOCELF</strong> -->
                  </h1>
                  <hr class="hr-dark wow fadeIn" data-wow-delay="0.3s">
                  <h5 class="wow fadeIn lato-regular white-text text-right mt-n1" data-wow-delay="0.3s">
                    We Believe In Your Ideas
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </header>

    <main class="cloudy-knoxville-gradient mt-n5">

      <div class="container">

        <!-- Section: About -->
        <section id="about" class="about mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">

          <h2 class="text-center title my-5 pt-4 pb-5 lato-bold font-weight-bold text-uppercase wow fadeIn"
            data-wow-delay="0.2s">
            PATENT RESEARCH AT IT'S BEST
          </h2>

          <!-- Grid row -->
          <div class="row pt-2 mt-5">

            <!-- Grid column -->
            <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
              <!-- Image -->
              <img src="{% static 'img/innoimg/innocelf-homepage-section2-picture2.jpg' %}"
                class="img-fluid z-depth-1 rounded" alt="innocelf-patent-research-section2-picture">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6 ml-auto col-md-12 wow fadeIn align-self-center" data-wow-delay="0.4s">

              <!-- Secion heading -->
              <!-- <h3 class="mb-5 title text-uppercase font-weight-bold lato-bold wow fadeIn text-center"
                data-wow-delay="0.2s">
                PATENT RESEARCH AT IT'S BEST
              </h3> -->

              <!-- Description -->
              <p class="grey-text text-justify lato-regular ml-4">With Innocelf you will receive
                high quality patent search reports and analyses. Innocelf's collaboration will
                help you make informed decisions
                with
                proven methodologies before commercializing the invention.</p>
              <p class="grey-text text-justify lato-regular ml-4">We work with attorneys, small
                business, solo inventors and
                are open for long-term partnerships / collaborative efforts. That and the technologies
                thrive in makes us an excellent choice.
              <p class="grey-text text-justify lato-regular ml-4">Innocelf believes in transparency, constructive
                feedback
                and regular communication in every engagement to be as effective as possible. We are also masters of
                confidentiality, so you can assure
                your inventions are safe with us.</p>
              </p>
              <p class="grey-text text-justify mb-5 lato-regular"></p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </section>
        <!-- Section: About -->

        <hr>

        <!--Section: Services-->
        <section id="services" class="mt-3 mb-5 pb-3">

          <!-- Section heading -->
          <h2 class="text-center title my-5 pt-4 pb-5 lato-bold font-weight-bold text-uppercase wow fadeIn"
            data-wow-delay="0.2s">
            Services
          </h2>

          <!-- First row -->
          <div class="row wow fadeIn lato-regular" data-wow-delay="0.4s">

            <!-- First column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold text-uppercase spacing mt-4 mx-4 lato-bold">
                  <i class="fas fa-square mr-2" aria-hidden="true"></i>
                  <strong>Patentability and Novelty Search</strong>
                </p>
                <p class="grey-text font-small mx-4">A comprehensive research to prove novelty of each element of your
                  invention.
                <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                  <a>read more</a>
                </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /First column -->

            <!-- Second column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold text-uppercase spacing mt-4 mx-4 lato-bold">
                  <i class="fas fa-square mr-2" aria-hidden="true"></i>
                  <strong>Clearance Search</strong>
                </p>
                <p class="grey-text font-small mx-4">Identify patent and non-patent documents which may impact the
                  claims of a specific patent.
                <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                  <a>read more</a>
                </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Second column -->

            <!-- Third column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold text-uppercase spacing mt-4 mx-4 lato-bold">
                  <i class="fas fa-square mr-2" aria-hidden="true"></i>
                  <strong>Freedom to Operate Search</strong>
                </p>
                <p class="grey-text font-small mx-4">Commercialize your product without infringing on others valid
                  intellectual property rights.
                <p class="font-small orange-text font-weight-bold mx-4 mb-0">
                  <a>read more</a>
                </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Third column -->

            <!-- Fourth column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold text-uppercase spacing mt-4 mx-4 lato-bold">
                  <i class="fas fa-square mr-2" aria-hidden="true"></i>
                  <strong>Product Research</strong>
                </p>
                <p class="grey-text font-small mx-4">A comprehensive research to identify commercial potential for
                  your
                  product.
                <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                  <a>read more</a>
                </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Fourth column -->

          </div>
          <!-- /.First row -->

        </section>
        <!--/Section: Services-->

        <hr>

        <!-- Section: Features v.4 -->
        <section id="technologies_and_expertise" class="mt-3 mb-5 pb-5">

          <!-- Section heading -->
          <h2 class="text-center title mt-5 pt-4 font-weight-bold lato-bold wow fadeIn text-uppercase"
            data-wow-delay="0.2s">
            Technologies and Expertise
          </h2>

          <!-- Section sescription -->
          <p class="text-center w-responsive mx-auto mb-5 pb-5 wow fadeIn lato-regular" data-wow-delay="0.2s">
            We cover a large spectrum of technologies to perform searching services. That way all related patents, even
            if from a different sector, can be vetted.</p>

          <!-- Grid row -->
          <div class="row features-small wow fadeIn lato-regular" data-wow-delay="0.4s">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 pr-0">
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-2">
                  <i class="fas fa-mortar-pestle fa-2x"></i>
                </div>
                <div class="col-10 mb-2">
                  <h5 class="font-weight-bold title">Medical Devices</h5>
                  <ul class="grey-text list-unstyled">
                    <li>Cardiac Assistive Devices</li>
                    <li>Diagnostics</li>
                    <li>Surgical Instrumentation</li>
                  </ul>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-2">
                  <i class="fas fa-prescription fa-2x"></i>
                </div>
                <div class="col-10 mb-2">
                  <h5 class="font-weight-bold title">Pharmacuetical</h5>
                  <ul class="grey-text list-unstyled">
                    <li>Formulations / Compositions</li>
                    <li>Method of Synthesis</li>
                    <li>Natural Products / Nutraceuticals</li>
                  </ul>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-atom fa-2x"></i>
                </div>
                <div class="col-10 mb-2">
                  <h5 class="font-weight-bold title">Chemical & Material Sciences</h5>
                  <ul class="grey-text list-unstyled">
                    <li>Industrial Processes</li>
                    <li>Inorganics and Alloys</li>
                    <li>Polymers</li>
                  </ul>
                </div>
              </div>
              <!-- Grid row -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-1 px-0 text-center text-md-left align-self-center">
              <img src="{% static 'img/innoimg/innocelf-homepage-technology-picture1.jpg' %}"
                alt="innocelf-patent-research-technology-picture" class="z-depth-0 img-fluid" style="max-width: 110%">
            </div>
            <!-- Grid column -->

            <!-- Third column -->
            <div class="col-lg-4 col-md-12 pl-0">
              <!-- Grid row -->
              <div class="row mb-3">

                <div class="col-10 mb-2 text-right">
                  <h5 class="font-weight-bold title">Biotech and Life Sciences</h5>
                  <ul class="grey-text list-unstyled">
                    <li>Antibodies</li>
                    <li>Diagnostics: Tests and Assays</li>
                    <li>Peptide Therapies</li>
                  </ul>
                </div>
                <div class="col-2">
                  <i class="fas fa-heartbeat fa-2x"></i>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-10 mb-2 text-right">
                  <h5 class="font-weight-bold title">Food Technology</h5>
                  <ul class="grey-text list-unstyled">
                    <li>Preservation</li>
                    <li>Processing</li>
                    <li>Fortification</li>
                  </ul>
                </div>
                <div class="col-2">
                  <i class="fas fa-stroopwafel fa-2x"></i>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">
                <div class="col-10 mb-2 text-right">
                  <h5 class="font-weight-bold title">Consumer Products</h5>
                  <ul class="grey-text list-unstyled">
                    <li>Apparel and Footwear</li>
                    <li>Household Goods</li>
                    <li>Food and Beverages</li>
                  </ul>
                </div>
                <div class="col-2">
                  <i class="fas fa-compact-disc fa-2x"></i>
                </div>
              </div>
              <!-- Grid row -->
            </div>
            <!-- Third column -->
          </div>
          <!-- Grid row -->

        </section>
        <!-- Section: Features v.4 -->

        <hr>

      </div>


      {% include '_mission_values.html' %}

      <!-- Streak -->
      <div class="streak streak-photo streak-long-2" id="streak_of_testimonials"
        style="background-image: url('/static/img/innoimg/innocelf-homepage-streak-picture.jpg');">
        <div class="flex-center" style="background-color: rgba(0, 0, 0, 0.9);">
          <div class="container">

            <!-- Section heading -->
            <h2 class="text-center mb-3 pb-3 white-text text-uppercase font-weight-bold wow fadeIn lato-bold"
              data-wow-delay="0.2s">
              CLIENT FEEDBACK
            </h2>

            <!--First row-->
            <div class="row text-center">

              <!--First column-->
              <div class="col-md-3 mb-2">
                <carousel-item name="Jason M.*" comment-on-upwork="yes"
                  actual-testimony="Pranita was a great help and excellent worker. She was very positive and completed our tasks in a timely manner. I would recommend Pranita for anyone needing a patent or other legal help in the future.">
                </carousel-item>
              </div>
              <!--/First column-->

              <!--Second column-->
              <div class="col-md-3 mb-2">
                <carousel-item name="David H.*" comment-on-upwork="yes"
                  actual-testimony="I was quite pleased with the scope of work performed, regarding the patent search report. I appreciate the professionalism! Couldn't have done it without Pranita.">
                </carousel-item>
              </div>
              <!--/Second column-->

              <!--Third column-->
              <div class="col-md-3 mb-2">
                <carousel-item name="Lennie F.*" comment-on-upwork="yes"
                  actual-testimony="Pranita Dharmadhikari has been great to work with and we will continue to use her in the future. We have used her on multiple projects for patent research and all were completed in a timely manner and the final results were very well prepared. Highly recommended.">
                </carousel-item>
              </div>
              <!--/Third column-->

              <!--Fourth column-->
              <div class="col-md-3">
                <carousel-item name="D. Kumar*" comment-on-upwork="yes"
                  actual-testimony="Amazing Work, Very Detailed , Clear, Coherent And Thorough Information. Cannot Ask For More. Thank You">
                </carousel-item>
              </div>
              <!--/Fourth column-->

            </div>
            <!--First row-->

          </div>
        </div>
      </div>
      <!-- Streak -->

      <div class="container-fluid cloudy-knoxville-gradient">
        <div class="container py-4">

          <section id="contact" class="section pb-5 mb-5">

            <!--Section heading-->
            <h2 class="text-center text-uppercase font-weight-bold my-5 pt-5 wow fadeIn lato-bold" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
              Contact
            </h2>
            <!--Section sescription-->
            <p class="text-center w-responsive mx-auto mb-5 pb-5 lato-regular">
              Talk to us by either filling out the contact form or scheduling a virtual meet. Let the search begin.
            </p>

            <div class="row lato-regular">

              <!--First column-->
              <div class="col-lg-5 mb-2 align-self-center">
                <a type="button" class="btn btn-dark btn-block" href="https://calendly.com/innocelf/virtual-appointment"
                  target="_blank">
                  Schedule a Virtual Consultation
                </a>

                <a type="button" href="{% url 'innoservices:contact-us' %}" class="btn btn-dark btn-block">
                  Contact Us
                </a>
              </div>
              <!--/First column-->

              <!--Second column-->
              <div class="col-lg-7">

                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 400px">
                  <iframe
                    src="https://maps.google.com/maps?q=detroit&amp;t=&amp;z=7&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                    style="border:0" allowfullscreen="" frameborder="0"></iframe>
                </div>
                <br>

              </div>
              <!--/Second column-->

            </div>

          </section>

        </div>
      </div>

    </main>





    {% include '_footer.html' %}


    <script src="https://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="{% static 'js/innojs/html_components.js' %}"></script>
    <script>
      // Animation init
      $(document).ready(function () {
        new WOW().init();
      });

      // Gallery
      $(function () {
        var selectedClass = "";
        $(".filter").click(function () {
          selectedClass = $(this).attr("data-rel");
          $("#gallery").fadeTo(100, 0.1);
          $("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');
          setTimeout(function () {
            $("." + selectedClass).fadeIn().addClass('animation');
            $("#gallery").fadeTo(300, 1);
          }, 300);
        });
      });

    </script>
    {% endblock content %}
  </body>

</html>