<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            Innocelf | User Home
            {% endblock head_title %}
        </title>
    </head>

    {% block content %}

    <body>
        {% include './_client_persistent_info.html' %}
        {% include '_side_navbar.html' %}
    </body>
    {% endblock content %}

</html>